body{ /*body tag  */
    background-color: #d1e6eb; /*background*/
}

.title{ /*title class*/
    width: 100%;
    height: 20%;
    font-family: 'Times New Roman';
    display: flex; 
    justify-content: center; /*center align*/
    border-bottom: 3px solid #1e2324; /*bottom border*/

}

.content{
    width: 100%; 

    display: flex; 
}

.result{
    width: 80%; /*within the .content, take 80%*/
    border-bottom: 3px solid #1e2324; 
}
.search_layout{
    width: 100%; 
    display: flex;
    justify-content: center;
    align-items: center; 
    border-bottom: 3px solid #1e2324; 
}

.filter{
    width: 20%; /*within the .content, take 20%*/
    margin: 4px; /*blank*/
    border: 3px solid #1e2324; 

    border-radius: 10px; /*make the border round*/
}

.check{
    margin-left: 2px;
    display: flex;
}

.search{
    width: 90%;
    height: 25px;
    border: none;
    background: transparent; /*make the search bar transparent*/
    margin-left: 5px;
    outline: none;
    font-weight: bold; /*bold*/
    
}

.sort{
    margin-left: 2px;
    width: 100%;
    display: flex;
    justify-content: center;
}

h2, h3{ /*"filter"*/
    width: 100%;
    text-align: center;
    border-top: 2px solid #1e2324;
    border-bottom: 2px solid #1e2324;
}
.sort_op{
    border: none; /*no border*/
    background: transparent; 
}
.sort_op:hover{ /*when you put your mouse on a button whose class is sort_op*/
    color:burlywood;
}
.sort_op:focus{ /*when click a button whose class is sort_op*/
    color:red;
}

.sort_op2{
    border: none; 
    background: transparent; 
}

.sort_op2:hover{ 
    color:burlywood;
}
.sort_op2:focus{ 
    color:red;
}

.name{
    color:purple;
    font-weight: bold;
}
