<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tripadvisor's Top 500 Osaka Restaurant</title> <!--tab에 보이는거-->
    <link rel="stylesheet" type="text/css" href="{% static 'osaka.css' %}"> <!-- osaka css 연동 -->
</head>
<script>
    function optionChange(cur){
        var op1 = document.getElementById("op1");
        /*document(파일 전체)에서 tag의 id가 op1인 애를 가져와서 op1에 저장해라*/
        var op2 = document.getElementById("op2");
        var selectedOption = document.getElementById("selectedOption");  // 숨겨진 입력 필드
        var orderOption = document.getElementById("orderOption");  // 숨겨진 입력 필드

        if (cur.id === "op1"){ /*op1을 선택(클릭)했을 때*/
            op1.style.color = 'yellow';
            op2.style.color = 'black';
            selectedOption.value = 'Ranking';
        }
        else if(cur.id==="op2"){
            op2.style.color = 'yellow';
            op1.style.color = 'black'; 
            selectedOption.value = 'Reviews'  
        }

        else if(cur.id==="op3"){
            op3.style.color = 'yellow';
            op4.style.color = 'black';   
            orderOption.value = 'Ascending'
        }
        else{
            op4.style.color = 'yellow';
            op3.style.color = 'black';   
            orderOption.value = 'Descending'
        }

        document.getElementById("optionForm").submit();  // 폼 제출

    }
</script>
<body>
    <div class="title">
        <h1> <!--가장 큰 타이틀 쓸 때 h1-->
            
            Tripadvisor's Top 500 Osaka Restaurant
        </h1>
    </div>
    <div class="content">
        <form action="{% url 'submit_data' %}" class="content" method="post">
            {% csrf_token %}
            <div class="result">
                <div class="search_layout">
                    <img src="{% static 'Picture1.png' %}">
                    
                        
                    <input type ="text" class = "search" name="search" placeholder="Search"/> 
                    
                    <!--검색창 input text, search클래스-->
                    <!--placeholder 옅게 글자가 나옴, 클릭하면 글자 사라짐-->
                </div>
                <div>
                    {% for data in datas %}
                        <div class="name"><h4>{{data.name}}</h4></div>
            
                        <h4>-{{data.addr}}</h4>
                        {%if 'Reviews' in data %}
                        <h4>-Reviews: {{data.Reviews}}</h4>
                        {% else %}
                        <h4>-Ranking: {{data.Ranking}}</h4>                       
                        {% endif %}
                        {% empty %}
                        <li>No users found.</li>
                    {% endfor %}
                </div>

            </div>




            <div class="filter">
                <h2>Filter</h2> <!--h2 타이틀-->
                <div class="check">
                    <input type ="checkbox" name="Vegan option"/> <!--체크박스형 인풋 "checkbox"-->
                    <p>Vegan option</p>
                </div>
                <div class="check">
                    <input type ="checkbox" name="Vegetarian friendly"/> <!--체크박스형 인풋-->
                    <p>Vegetarian friendly</p>
                </div>
                <div class="check" >
                    <input type ="checkbox" name="Gluten free"/> <!--체크박스형 인풋-->
                    <p>Gluten free</p>
                </div>
                <h2>Sort by</h2>
                <div class="sort">
                    <input type="hidden" id="selectedOption" name="selectedOption" value="">
                    <p class="sort_op" id="op1" onclick="optionChange(this)" name="ranking">Ranking</p> 
                    <!--버튼 만들기-->
                    <!--onclick: 버튼 클릭 시 optionChange 함수를 실행시키고 내 정보를 넘겨라-->
                    <p>/</p>
                    <p class="sort_op" id="op2" onclick="optionChange(this)">Number of reviews</p> <!--버튼 만들기-->
                </div>
                <div class="sort">
                    <input type="hidden" id="orderOption" name="orderOption" value="">
                    <p class="sort_op2" id="op3" onclick="optionChange(this)">Ascending order</p> <!--버튼 만들기-->
                    <p>/</p>
                    <p class="sort_op2" id="op4" onclick="optionChange(this)">Descending order</p> <!--버튼 만들기-->
                </div>
            </form>
        </div>
    </div>

    
    
</body>
</html>
